*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Caption', sans-serif;
}
/* nav bar */
.nav-bar-container{
  background-color: #1e221d;
  position: fixed;
  display: flex;
  width: 100%;
  
}
.logo img{
  width: 130px;
  margin: 20px;
  
}

.nav-menu{
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  margin-left: 850px;
  
}

.nav-menu a{
  color: rgb(241, 241, 241);
  text-decoration: none;
  padding: 20px;
  font-size: 1.4rem;
  transition: 2.6s;
}
.nav-menu a:hover{
  box-shadow: 2px 4px 20px 40px red;
}

/* nav bar ends */

/* banner section */

.banner{
  height: 100vh;
  background: rgba(0, 0,0.70,0.70);
  
}
.video-background{
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  z-index: -2;
  
}

.text{
  padding-top: 400px;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}
.btn{
 margin-top: 100px;
 margin-left: 45%;
 border: none;
 border-radius: 70px;
 transition: 1s;
}
.btn:hover{
  box-shadow: 2px 5px 50px 20px blue;
}
h3{
  padding: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
 
}
  
.money{
  margin-top: 60px;
  margin-right: 190px;
  display: flex;
}

.img-logo{
  width: 40px;
  color: white;
  margin-left: 300px;
  margin-top: 30px;
  background: beige;
  border-radius: 50%;
  transition: 1s;
}

.logo-text{
  color: antiquewhite;
  text-transform: uppercase;
  margin-top: 40px;
  
}
.money img:hover{
  box-shadow: 2px 5px 50px 20px blue;
}


/* banner section ends */

/* about  */
.about{
  background-image: url(img/2nd\ side\ photo.jpg);
  background-size: cover;
  width: 40%;
  height: 600px;
  margin: 50px;
  box-shadow: 3px 10px 20px blue;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  transition: 1s;
}
.about:hover{
  border-top: 3px solid red;
  border-bottom: 3px solid greenyellow;
  border-left: 3px solid white;
  border-right: 3px solid black;
}

.pic1{
  width: 430px;
  margin-left: 800px;
}
.text1{
 margin-left: 930px;
 font-size: 4rem;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-style: italic;
 color: gray;
 text-align: center;
}


/* about ends */

/* focus */
.focus-heading{
  background-color: whitesmoke;
  text-align: center;
}
.focus-text{
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}
.focus-textp{
  margin-right: 10px;
  line-height: 25px;
  padding-bottom: 10px;
}

.focus-container{
  width: 100%;
  background-color: whitesmoke;
  display: flex;
 
}
.focus-card{
  margin-bottom: 80px;
  padding: 20px;
  margin-left: 70px;
}
.logo1{
  width: 50px;
  margin-left: 23%;
}
.card-text{
  margin-left: 13%;
  margin-top: 10px;
}
.card-textp{
  margin-top: 15px;
}
/* focus ends */


/* footer section  */

.footer-container{
  background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(img/footer\ banner.jpg) ;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
}
.about-text-here{
  margin-left: 90px;
  padding-top: 80px;
}
.footerp{
  color: white;
}
.about-company{
  color: white;
  margin-bottom: 15px;
  
}
.about-company-1{
  color: white;
  margin-bottom: 15px;
  margin-left: 160px;
}
.about-line{
  width: 140%;
}
.address-line{
  margin-top: 20px;
}
.copy-right{
  margin-top: 60px;
 padding-bottom: 40px;

}

.about-com{
  width: 250px;

}
.links{
  
  margin-left: 130px;
  padding-top: 80px;
}
.link-name ol{
  color: white;
  
  list-style: none;
  padding-top: 140px;
  
}
.link-name ol li{
  margin: 15px;
  letter-spacing: 4px;
}
.link1 img{
  width: 20px;
  margin: 5px;
}
.link-logo{
  margin-top: 20px;
  padding-bottom: 80px;
  width: 10px;
  
}

.cont-des{
  margin-top: 40px;
}


.contact-us{
  margin-left: 170px;
  padding-top: 80px;
}
/* footer section ends */

/* side link */

.side-link-bar{
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.side-link img{
  width: 30px;
  margin: 10px;
}
/* side link ends */