
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

/* nav-bar section */

.banner{
  background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(img/banner.jpg) ;

  width: 100%;
  height: 100vh;
  background-size: cover;

}

.nav-bar{
  width: 95%;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
 
}
.logo{
  width: 180px;
  transition: 2s;
}
.logo:hover{
  transform: rotate(720deg);
}

.banner ul li{
  list-style: none;
  display: inline-block;
  margin: 50px 40px;
  padding: 5px;
  position: relative;
  
}
.banner ul li a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.banner ul li::after{
  content: '';
  height: 6px;
  bottom: -10px;
  left: 0;
  position: absolute;
  background-color: dodgerblue;
  width: 0%;
  transition: 0.3s;
  
}
.banner ul li:hover::after{
  width: 100%;
  background-color: lemonchiffon;
  border-radius: 40px;
}
#text-box{
  text-align: center;
  width: 100%;
  margin-top: 10%;
  
}
p{
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
h1{
  color: #ffff;
  margin-bottom: 40px;
  font-size: 40px;
  text-transform: uppercase;
}
.btn{
  text-align: center;
  margin-top: 40px;
  position: relative;
  
}
.button{
  padding: 20px;
  margin: 30px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  height: 70px;
  box-shadow: 1px 1px 20px  red;
  transition: 0.7s;
  position: relative;
}
.button::after{
  content: '';
  height: 4px;
  bottom: 16px;
  left: 0;
  position: absolute;
  background-color: dodgerblue;
  width: 0%;
  transition: 1s;
  
}
.button:hover::after{
  width: 100%;
  border-radius: 60px;
  background-color: bisque;
}
.button:hover{
  background-color: black;
}
.button a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
/* nav-bar section ends*/

/* portfolio section */

#portfolio-section{
  padding: 90px 10px;
  background-color: #c7ecee;
  height: 1000px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 5px 6px;
}
.line-1 {
  display: inline-block;
  width: 30%;
  border: 2px solid #fffa65;
  
}
.line-2 {
  display: inline-block;
  width: 50%;
  border: 2px solid #fffa65;
  margin-bottom: 10px;
}
.line-3 {
  display: inline-block;
  float: right;
  width: 30%;
  border: 2px solid #fffa65;
  margin-top: 10px;
}
.line-4 {
  display: inline-block;
  float: right;
  width: 50%;
  border: 2px solid #fffa65;
  margin-bottom: 10px;
}
.portfolio-left-col{
  flex-basis: 50%;
}
h2{
  font-size: 50px;
  text-transform: uppercase;
  margin-left: 10%;
  text-align: center;
  font-weight: bold;
  
}
h3{
  text-align: center;
  margin-top: 44px;
  font-size: 23px;
  color: rgb(43, 38, 38);
}

.portfolio-right-col{
  flex-basis: 50%;
}
.portfolio-right-col img{
  width: 600px;
  margin-left: 20%;
  
}
.side-img{
  box-shadow: 0px 10px 20px 5px black; 
  border-radius: 10px;
  
}


/* portfolio section ends */


/* why u choose me section */
.choose-me-text h2{
  font-size: 1.5rem;
}
.choose-me-card{
  width: 100%;
  background-color: rgb(228, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-1{
  margin: 30px;
  
}
.card-1-logo{
  width: 70px;
  margin-left: 100px;
  margin-top: 20px;
}
.card-1-text{
  margin-left: 30px;
}
.card-1-ptext{
  margin-top: 20px;
}


/* why u choose me section ends */


/* service section */

#h2{
 text-align: center;
 color: black;
 box-shadow: 3px 4px 8px 3px black;
 margin-right: 10%;
 font-size: 1.4rem;
 
}

.service{
  background-color: #c7ecee;
  height: 900px;
  position: relative;
  align-items: center;
  box-shadow: 3px 4px 8px 3px black;
  display: flex;
  
  
} 


.card{
  width: 20%;
  background-color: #1B1464;
  background-image: linear-gradient(rgba(0,0,0,0.90),rgba(0,0,0,0.80)),url(img/card.jpeg) ;
  background-size: cover;
  margin-left:180px;
  margin-bottom: 3px;
  height: 550px;
  border-radius: 15px;
  position: relative;
  box-shadow: 10px 25px 20px 5px #000000;
  transition: 2s;
}
.card:hover{
  background-image: linear-gradient(rgba(0,0,0,0.90),rgba(0,0,0,0.80)), url(img/side\ cover.jpg) ;
  background-size: cover;
  border: wheat 4px solid;
  box-shadow: 4px 6px 5px 1px white;
  
}
.html{
  width: 100px;
  margin-left: 130px;
  margin-top: 30px;
  
}

.html-1{
  color: white;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 2rem;
}
#html-text{
  margin-top: 40px;
  position: relative;
  
}

#line-1, #line-2, #line-3, #line-4, #line-5, #line-6{
  color: #fff;
  margin-left: 40px;
  
  font-size: 1.1rem;
  line-height: 8px;
  
}
#line-1::after{
  content: '';
  height: 5px;
  bottom: 45.2%;
  left: 48px;
  position: absolute;
  background-color: dodgerblue;
  width: 0%;
  transition: 1.5s;
  border-radius: 30px;
  box-shadow: 2px 2px 6px 2px black;
}
#line-1:hover::after{
  width: 80%;
}
#line-2::after{
  content: '';
  height: 5px;
  bottom: 37%;
  left: 48px;
  position: absolute;
  background-color: rgb(25, 243, 6);
  width: 0%;
  transition: 1s;
  border-radius: 30px;
  box-shadow: 2px 2px 6px 2px black;
}
#line-2:hover::after{
  width: 50%;
}

#line-3::after{
  content: '';
  height: 5px;
  bottom: 28.2%;
  left: 48px;
  position: absolute;
  background-color:dodgerblue;
  width: 0%;
  transition: 1s;
  border-radius: 30px;
  box-shadow: 2px 2px 6px 2px black;
}
#line-3:hover::after{
  width: 70%;
}
#line-4::after{
  content: '';
  height: 5px;
  bottom: 20%;
  left: 48px;
  position: absolute;
  background-color:red;
  width: 0%;
  transition: 1s;
  border-radius: 30px;
  box-shadow: 2px 2px 6px 2px black;
}
#line-4:hover::after{
  width: 80%;
}
#line-5::after{
  content: '';
  height: 5px;
  bottom: 11.5%;
  left: 48px;
  position: absolute;
  background-color:greenyellow;
  width: 0%;
  transition: 1s;
  border-radius: 30px;
  box-shadow: 2px 2px 6px 2px black;
}
#line-5:hover::after{
  width: 60%;
}
#line-6::after{
  content: '';
  height: 5px;
  bottom: 3%;
  left: 48px;
  position: absolute;
  background-color:yellow;
  width: 0%;
  transition: 1s;
  border-radius: 30px;
  box-shadow: 2px 2px 6px 2px black;
}
#line-6:hover::after{
  width: 70%;
}



/* service section ends */



/* client review */
  .clint-review-section h2{
    
    text-align: center;
    box-shadow: 3px 4px 8px 3px black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
  
  }
  
  .review {
    color: black;
    
  }
  .img-container{
    position: relative;
    display: flex;
    background-color: blanchedalmond;
    padding: 20px;
    box-shadow: 3px 4px 8px 3px black;
  }
 .img-1{
   margin-left: 110px;
   padding-top: 50px;
   transition: 2.5s;
 }
 .img-1:hover{
   border: black 2px solid;
   border-style: ridge;
   padding: 20px;
   border-radius: 10px;
   background-color: white;
   box-shadow: 2px 4px 5px 2px;
 }
 .img-2{
  margin-left: 170px;
  padding-top: 50px;
  transition: 2.5s;
}
.img-2:hover{
  border: black 2px solid;
  border-style: ridge;
  padding: 20px;
  border-radius: 10px;
  background-color:gray;
  box-shadow: 2px 4px 5px 2px;
  
}
 .img-3{
  margin-left: 300px;
  padding-top: 50px;
  transition: 2.5s;
}
.img-3:hover{
  border: black 2px solid;
  border-style: ridge;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 4px 5px 2px;
  
}

  .pic1{
    width: 140px;
    border-radius: 50%;
  }
  .pic2{
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  .rating-pic{
    width: 100px;
    
  }
  #client-text{
    color: black;
  }

/* client review ends */


/* contact form  */

.contact-form-container{
  background-color: #f9ca24;
  padding: 20px;
  display: flex;
  box-shadow: 2px 4px 6px 2px ;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.text-left{
  width: 30%;
  margin-left: 4%;
  margin-top: 40px;
}
h4{
  font-size: 1.6rem;
  letter-spacing: 3px;
  width: 200%;
  text-transform: uppercase;
}
h5{
  font-size: 1rem;
  margin-top: 15px;
}

.text-right{
  position: relative;
  width: 70%;
  margin-left: 48%;
  
}
.form{
  width: 450px;
  padding: 6px;
  margin: 5px;
  background: none;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
}
.form1{
  width: 355px;
  padding: 6px;
  margin: 5px;
  background: none;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
}
.btn-1{
  width: 80px;
  padding: 6px;
  margin: 5px;
  background: none;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}
.select-sec{
  margin-top: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.course{
  margin-top: 10px;
  margin: 10px;
}
.select-sec-1{
  margin: 10px;
}
.btn-12{
  width: 450px;
  padding: 6px;
  margin: 5px;
  margin-top: 15px;
  background: none;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  box-shadow: 2px 4px 6px 2px ;
}

.select-sec{
  margin-left: 10px;

}

/* contact form ends */


/* footer section  */

.footer-container{
  background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(img/footer\ banner.jpg) ;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
}
.about-text-here{
  margin-left: 90px;
  padding-top: 80px;
}
.about-company{
  color: white;
  margin-bottom: 15px;
  
}
.about-company-1{
  color: white;
  margin-bottom: 15px;
  margin-left: 60px;
}
.about-line{
  width: 140%;
}
.address-line{
  margin-top: 20px;
}
.copy-right{
  margin-top: 60px;
 padding-bottom: 40px;

}

.about-com{
  width: 250px;

}
.links{
  
  margin-left: 130px;
  padding-top: 80px;
}
.link-name ol{
  color: white;
  
  list-style: none;
  padding-top: 140px;
  
}
.link-name ol li{
  margin: 15px;
  letter-spacing: 4px;
}
.link1 img{
  width: 20px;
  margin: 5px;
}
.link-logo{
  margin-top: 20px;
  padding-bottom: 80px;
  width: 10px;
  
}

.cont-des{
  margin-top: 40px;
}


.contact-us{
  margin-left: 105px;
  padding-top: 80px;
}
/* footer section ends */

/* side link */

.side-link-bar{
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.side-link img{
  width: 30px;
  margin: 10px;
}
/* side link ends */










/* mobile responsive starts */

@media only screen and (max-width: 600px){

  .banner{
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(img/banner.jpg) ;
    background-size: cover;
    width: 500px;
    height: 1100px;
    background-position: center;
  
  }
  .logo{
    width: 80px;
    height: 60px;
    transition: 2s;
  }
  .logo:hover{
    transform: rotate(380deg);
  }
 
  .banner ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 40px;
    padding: 5px;
    position: relative;
    border: 2px solid gray;
    border-radius: 15px;
    
  }
  .banner ul li:hover{
    box-shadow: 2px 2px 30px 2px #00ff15;
  }
  .banner ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
  p{
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    width: 200px;
    margin-left: 70px;
    
  }
  h1{
    color: #ffff;
    margin-bottom: 50px;
    margin-right: 110px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .btn{
    text-align: center;
    margin-top: 180px;
    position: relative;
    margin-right: 125px;
    
  }
  .button{
    padding: 5px;
    margin: 5px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 130px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    box-shadow: 1px 1px 20px  #00ff00;
    transition: 0.7s;
    position: relative;
  }
  .button::after{
    content: '';
    height: 4px;
    bottom: 3px;
    left: 0;
    position: absolute;
    background-color: dodgerblue;
    width: 0%;
    transition: 1s;
    
  }
  .button:hover::after{
    width: 90%;
    left: 4%;
    border-radius: 60px;
    background-color: bisque;
  }
  #portfolio-section{
    padding: 90px 10px;
    background-color: #c7ecee;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 5px 6px;
  }
  .line-2 {
    display: inline-block;
    width: 40%;
    border: 2px solid #fffa65;
    margin-bottom: 10px;
  }
  .line-3 {
    display: inline-block;
    float: right;
    width: 30%;
    border: 2px solid #fffa65;
    margin-top: 10px;
  }
  .line-4 {
    display: inline-block;
    float: right;
    width: 50%;
    border: 2px solid #fffa65;
    margin-bottom: 10px;
  }
  .portfolio-left-col{
    flex-basis: 100%;
  }
  h2{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10%;
    text-align: center;
    font-weight: bold;
    float: right;
    
  }
  h3{
    text-align: center;
    margin-top: 44px;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(43, 38, 38);
    
  }
  
  .portfolio-right-col{
    flex-basis: 50%;
  }
  .portfolio-right-col img{
    width: 400px;
    margin-left: 10%;
    
  }
  .side-img{
    box-shadow: 0px 10px 20px 5px black; 
    border-radius: 10px;
    
  }
  .choose-me-text{
    box-shadow: 6px 4px 8px 3px black;
    margin-left: 0%;
    margin-right: 0%;
    transition: 2s;
    background-color: cornsilk;
    
  }
  H2{
    font-size: 20PX;
    margin-right: 80px;
  }
  .choose-me-text:hover{
    transform: scaleX(1.2)
   }
   .colum{
     background-color: #dee0e2;
     padding: 20px 0;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     height: auto;
     box-shadow: 3px 4px 8px 3px black;
   }
   .box-left-col{
     flex-basis: 100%;
   }
   .pic{
    width: 20%;
    margin: 0 117px;
    margin-left: 150px;
    margin-top: 100px;
    height: auto;
    border: blanchedalmond 2px solid;
    border-radius: 2%;
    box-shadow: 2px 5px 6px 5px;
  }
  .pic1{
    margin-left: 190px;
    width: 30%;
    margin-top: 10PX;
  }
  .text-left-col{
    flex-basis: 100%;
    margin-left: 0px;
  }
  .text-right-col{
    flex-basis: 20%;
    margin-right: 80px;
  }
  